aes-everywhere==1.2.10
certifi==2020.12.5
dnspython==2.1.0
Flask==1.1.2
Flask-hCaptcha==0.5.4
Flask-Login==0.5.0
httpcats==1.1.1
idna==2.10
importlib-metadata==3.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.3.4
MarkupSafe==1.1.1
pycryptodomex==3.10.1
pymongo==3.11.3
requests==2.25.1
urllib3==1.26.4
Werkzeug==1.0.1
xorCryptPy==1.0.3
zipp==3.4.1
