<html>

<head>


	<title>Leaderboard</title>
	<link rel="stylesheet" type="text/css" href="static/css/leaderboard.css" />
	<link rel="stylesheet" type="text/css" href="static/css/modified_bootstrap.css" />

</head>



<div id="navbar">

	<div class="nav">
		<a class="active" href="/challenges">Challenges</a>
		<a href="/home">Home</a>
		<a href="/leaderboard">Leaderboard</a>
		<a href="/solves">Solves</a>
		<a href="/discord">Discord</a>


		<input id="flag" type="text" placeholder="Submit a Flag!" required>
  <button id="flagsubmit" type="submit" onclick="submitflag()"><i class="s"></i>Submit</button>
  
  <a href="/logout" class="logout" style="float: right;">Logout</a>

</div>

<center><h1>Leaderboard:</h1>
</center>
<script>
  


function submitflag(){

    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/submit');


    xhr.setRequestHeader('submitted-flag', document.getElementById('flag').value);
    xhr.setRequestHeader('user-auth-token', "{{authtoken}}");

    xhr.send();

    xhr.onload = () => {
      alert(xhr.responseText);
    }
    
      var clearflag = document.getElementById("flag");
      clearflag.value = "";


}
</script>

<div class="container mb-3">
    <div class="table-responsive">
            <table class="table table-striped table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Position</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
{% for item in final_users %}

  <tr>
    <td width="10%">{{item.get('placement')}}</td>
    <td>{{item.get('_id')}}</td>
    <td>{{item.get('points')}}</td>
  </tr>

{% endfor %}

                </tbody>
            </table>
    </div>
</div>




</body>


</html>