<html>

<head>
	<title>Log In</title>
</head>

<body>

<form method="post">
		<h1>Log In</h1>

		<fieldset>

			<label for="username">Username:</label>
          <input type="username"  name="username" maxlength="20" required id="cusername">
          
          <label for="password">Password:</label>
          <input name="password" type="password" maxlength="20" required>
          
        </fieldset>
        <button type="submit">Log In</button>
      </form>
<style>


body{font-family:'Nunito',sans-serif;color:#384047}h1{margin:0 0 30px 0;text-align:center}input[type="password"],input[type="username"],textarea,select{background:rgba(255,255,255,0.1);padding:15px;width:100%;background-color:#e8eeef;color:#8a97a0;border:0;font-size:16px;height:auto;margin:0;outline:0;box-shadow:0 1px 0 rgba(0,0,0,0.03) inset;margin-bottom:30px}*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box}button{text-align:center;font-style:normal;border-radius:5px;width:100%;padding:19px 39px 18px 39px;color:#FFF;background-color:#4bc970;border-width:1px 1px 3px;box-shadow:0 -1px 0 rgba(255,255,255,0.1) inset;margin-bottom:10px;font-size:18px;border:1px solid #3ac162}form{max-width:300px;margin:10px auto;padding:10px 20px;background:#f4f7f8;border-radius:8px}fieldset{margin-bottom:30px;border:0;text-align:center}@media screen and (min-width:480px){form{max-width:480px}}
</style>
</body>


</html>